<div class="comment">
  <p><%= comment.body %></p>
  <p>By <%= comment.user.email %></p>
  <% if comment.user == current_user %>
    <%= link_to 'Edit', edit_comment_path(comment), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
